@model AdvogadosWeb.Models.Dominio.Advogado

@{
    ViewBag.Title = "Deletar Usuário";
}

<h2>Deletar Usuário</h2>

<div class="conteudo-quadrado">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senioridade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senioridade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Deletar" class="btn btn-danger" onclick="return confirmarExclusao()" />
            @Html.ActionLink("Voltar a Lista", "Index", null, new { @class = "back-to-list" })
        </div>
    }
</div>

@section Scripts {
    <script>
        function confirmarExclusao() {
            if (confirm("Tem certeza que deseja deletar este usuário?")) {
                return true; // Permite o envio do formulário
            } else {
                return false; // Impede o envio do formulário
            }
        }
    </script>
}